---
title: cardview
layout: card.njk
testdata:
-
   type: C
   TID: 576
   heading: grj
   alt1: 法律改革辦公室
   alt2: Gabinete para a Reforma Jurídica
   note: Juridical Reform Bureau
   source: 
-
   type: P
   TID: 746
   heading: Thibaut, Anton Friedrich Justus
   alt1: 安東.弗里德里希.尤斯圖斯. 蒂堡
   source: 論制定一部德意志統一民法典之必要性
-
   type: P
   TID: 745
   heading: Afonso, Aniceto
   alt1: 安尼瑟圖. 阿豐素
   source: Macau Seculo XXI = 澳門的廿一世紀
-
   type: P
   TID: 744
   heading: Hildreth, W. Bartley
   alt1: W.巴特利.希爾德雷思
   source: 公共部門財政管理制度
-
   type: G
   TID: 638
   heading: 琉球群島
   alt1: Ryukyu
   alt2: Ryukyu Islands
   source: 澳門法學 9
-
   type: G
   TID: 567
   heading: 泰國
   alt1: Tailânia
   alt2: ราชอาณาจักรไทย
   seealso: 暹羅
   source: 
-
   type: P
   TID: 4
   heading: Monteiro, Vicente
   alt1: 韋思明
   alt2: Monteiro, Vicente Joao
   source: 物業登記局局長 (1998)
-
   type: P
   TID: 1
   heading: Pires, Candida da Silva Antunes
   alt1: 李淑華
   source: 澳門大學法學院副教授, (1995)
   img: P0001.jpg
---

<div class="sticky" id="myHeader">
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.."> 
</div> 

<div class="container" id="allcards">
{% for r in na %}
<div class="card-wrapper{% if r.img is defined %} flip-right{% endif %}" txt="{{r.heading}} {{r.alt1}} {{r.alt2}} {{r.seaalso}}">
  <div class="card">
    
    <div class="card__front">
    <p>{{r.heading}}</p>
    <ul>
    {% for n,v in r %}
    {% if n=="alt1" %}<li class="index_up">{{v}}</li>{% endif %}
    {% if n=="alt2" %}<li class="index_up">{{v}}</li>{% endif %}
    {% if n=="seealso" %}<li class="index_right">{{v}}</li>{% endif %}
    {% if n=="note" %}<li class="no_bullet">{{v}}</li>{% endif %}
    {% if n=="source"%}<li class="book">{{v}}</li>{% endif %}
    {% endfor %}
    </ul>
    </div>
    {% if r.img is defined %}<div class="card__back"><img src="{{r.img}}" alt="{{r.heading}}" class="center">
    </div>{% endif %}
  </div>
</div>
{% endfor %}
</div>{# container #}
<script>
function myFunction() {
  // Declare variables
  var input, filter, table, cr, txt, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("allcards");
  cr = table.getElementsByClassName("card-wrapper");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    txt = cr[i].txt;
    if (txt) {
      
      if (txt.toUpperCase().indexOf(filter) > -1) {
        cr[i].style.display = "";
      } else {
        cr[i].style.display = "none";
      }
    }
  }
}
</script>
