---
title: cardview
layout: card.njk
testdata:
-
   type: C
   TID: 576
   heading: grj
   alt1: 法律改革辦公室
   alt2: Gabinete para a Reforma Jurídica
   alt3: Juridical Reform Bureau
   note: 澳門特別行政區一個已撤銷的政府部門，負責在檢討重大法典、主要法律制度及其他重要法規的範圍內，行使法規草擬中央機制的職能。法律改革辦公室於2005年3月14日成立，由行政法務司監督，由一名主任領導及由兩名副主任輔助。2011年1月1日，透過澳門特別行政區第22/2010號行政法規，法律改革辦公室與國際法事務辦公室合併成為法律改革及國際法事務局，負責協助澳門特區政府統籌立法計劃的制定並監督其執行，檢討並草擬重大法典及主要法律制度，以及進行國際法事務方面的工作。 
   source: 修訂《道路法典》諮詢文件 / 法律改革辦公室及法律改革諮詢委員會
-
   type: P
   TID: 746
   heading: Thibaut, Anton Friedrich Justus
   alt1: 安東.弗里德里希.尤斯圖斯. 蒂堡
   source: 論制定一部德意志統一民法典之必要性
-
   type: P
   TID: 745
   heading: Afonso, Aniceto
   alt1: 安尼瑟圖. 阿豐素
   source: Macau Seculo XXI = 澳門的廿一世紀
-
   type: P
   TID: 744
   heading: Hildreth, W. Bartley
   alt1: W.巴特利.希爾德雷思
   source: 公共部門財政管理制度
-
   type: G
   TID: 638
   heading: 琉球群島
   alt1: Ryukyu
   alt2: Ryukyu Islands
   source: 澳門法學 9
-
   type: G
   TID: 567
   heading: 泰國
   alt1: Tailânia
   alt2: ราชอาณาจักรไทย
   seealso: 暹羅
   source: 
-
   type: P
   TID: 4
   heading: Monteiro, Vicente
   alt1: 韋思明
   alt2: Monteiro, Vicente Joao
   source: 物業登記局局長 (1998)
-
   type: P
   TID: 1
   heading: Pires, Candida da Silva Antunes
   alt1: 李淑華
   source: 澳門大學法學院副教授, (1995)
   img: P0001.jpg
---

<h1>Names</h1>
<div class="sticky" id="myHeader" style="height: 30;">
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.."> 
</div> 


<div class="container" id="allcards">
{% for r in testdata %}
<div class="card-wrapper{% if r.img is defined %} flip-right{% endif %}" txt="{{r.heading}} {{r.alt1}} {{r.alt2}} {{r.seaalso}}">
  <div class="card">
    
    <div class="card__front">
    <p style="font: 20px; text-align: center;">{{r.heading}}</p>
    <ul>
    {% for n,v in r %}
    {% if n=="alt1" %}<li class="index_up">{{v}}</li>{% endif %}
    {% if n=="alt2" %}<li class="index_up">{{v}}</li>{% endif %}
    {% if n=="seealso" %}<li class="index_right">{{v}}</li>{% endif %}
    {% if n=="note" %}<li class="no_bullet">{{v}}</li>{% endif %}
    {% if n=="source"%}<li class="book">{{v}}</li>{% endif %}
    {% endfor %}
    </ul>
    </div>
    {% if r.img is defined %}<div class="card__back"><img src="{{r.img}}" alt="{{r.heading}}" class="center">
    </div>{% endif %}
  </div>
</div>
{% endfor %}
</div>{# container #}

<p>All emojis designed by OpenMoji – the open-source emoji and icon project. License: CC BY-SA 4.0</p>
<script>
function myFunction() {
  // Declare variables
  var input, filter, table, cr, txt, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("allcards");
  cr = table.getElementsByClassName("card-wrapper");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    txt = cr[i].txt;
    if (txt) {
      
      if (txt.toUpperCase().indexOf(filter) > -1) {
        cr[i].style.display = "";
      } else {
        cr[i].style.display = "none";
      }
    }
  }
}
</script>
