<ul>
<li><img src="1F4DA.svg" alt="books" height="30" style="vertical-align: middle"> source</li>
<li><img src="1F449.svg" alt="right" height="30" style="vertical-align: middle"> ddsis </li>
<li><img src="1F446.svg" alt="up" height="30" style="vertical-align: bottom"> dkajdka</li>
</ul>

<p>All emojis designed by (OpenMoji)[https://github.com/hfg-gmuend/openmoji/blob/master/FAQ.md] – the open-source emoji and icon project. License: CC BY-SA 4.0</p>
